<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
</head>
<body>
    <form method="post">
        <label for="id">College ID</label><br>
        <input type="text" name="id" id="id"><br>
        <label for="password">Password</label><br>
        <input type="password" name="password" id="password"><br>
        <input type="submit" value="Sign In">
    </form>

    Don't have an account?
    <a href="/createaccount">create account</a>

    <script>
        var alert_message = "{{message}}"

        if (alert_message) { alert(alert_message) }
    </script>
</body>
</html>